* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f4f4f9;
  min-height: 100vh;
  display: block;
}

#contenedorPrincipal {
  margin: 120px auto 40px;
  margin-top: 6rem;
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 90%;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

#formulario {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  color: #555;
  margin-bottom: 5px;
}

.campos {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
}

#rol {
  padding: 12px;
}

#enviarBoton {
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

#mensaje {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}
#mensajeCorreo {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}

#regresarBoton {
  padding: 10px 20px;
  background-color: #6c757d;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block;
  margin: 20px auto 0;
}
#regresarBoton:hover {
  background-color: #007bff;
  color: #fff;
}

#botonInicio{
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin: 20px auto 0;
  margin-left: 10.4rem;
  margin-top: 1rem;
  display: inline-block;
}
#botonInicio:hover{
  background-color: #6c757d;
  color: #fff;
}