* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background-color: #f0f2f5;
  display: flex-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#menu {
  width: 100%;
  height: 8vh;
  background-color: #007bff;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
#menu-lista {
  display: flex;
  justify-content: flex-end;
  list-style: none;
<<<<<<< HEAD
  width: 65%;
=======
  width: 45%;
>>>>>>> mejoras
  height: 5vh;
  text-align: center;
  padding-left: 1rem;
  justify-content: space-between;
  border-radius: 10px;

}
.menu-item {
  margin-right: 20px;
  margin-top: .65rem;
}

#menu-lista a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  margin-top: .5rem;
}
#titulo {
  height: 5vh;
  text-align: center;
  color: white;
  padding: .5rem;
  margin-right: 12rem;
}
#menu-lista a:hover {
  background-color: white;
  color: #007bff;
  border-radius: 5px;
  padding: 5px;
}
